.search {
  margin-bottom: 20px;
}
.text {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}

.input {
  width: 350px;
  color: #3b2d4d;
  padding: 5px 10px;
  border: 1px solid #3b2d4d;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

@media screen and (max-width: 767.98px) {
  .text {
    font-size: 17px;
  }

  .input {
    width: 250px;
  }
}

.input:hover,
.input:focus,
.input:active {
  border: 1px solid #7d3f79;
}
